body{
    background: url(../img/camoVert.png);
}
#search{
    height: 40px;
    background: white;
    color: black;
    transform: skew(-40deg);
}
#searchProducts, #searchBtn{
    border: none;
    padding-top: 5px;
    transform: skew(+40deg);
}
#searchBtn{
    padding-left: 35px;
    height: 30px;
    padding-top: 1px;
}
#banner{
    background-color: black;
    width: auto;
    height: 140px;
}
#footPage{
    background-color: black;
    width: auto;
    height: 200px;
}
#logo{
    height: 130px;
    width: auto;
    margin-top: 10px;
}
#shoppingCart{
    color: white;
    width: 50px;
}
nav{
    background-color: black;
}
#navbarLongReplicate, #navbarGunReplicate, #navbarAccessories{
    color: black;
}
.dropdown-menu{
    background-color: #2E86AB;
}
.dropdown-item {
    color: black;
}
li{
    list-style: none;
}
.userAccountTitle{
    padding-top: 8px;
    transform: skew(+40deg);
}
.fa-shopping-basket{
    color: white;
}
#gameLink{
    color: white;
    font-weight: bold;
    text-align: center;
}
#gameLink a{
    color: #2E86AB;
    text-decoration: none;
    font-weight: bold;
}
h1{
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: 40px;
    text-align: center;
}
h2{
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: 70px;
    padding-bottom: 70px;
}
#principalPage{
    padding-bottom: 70px;
}
.card{
    background-color: transparent;
}
.card-body{
    background-color: white;
}
#historyShop{
    background-color: rgba(33, 82, 33, 0.5);
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#contact, #timetables li{
    color: white;
}
#contact{
    padding-top: 10px;
}
#contacts, #shedules{
    font-size: 1.5rem;
}
#facebook, #instagram{
    background-color: white;
    height: 50px;
    width: auto;
}
.btn-account{
    outline: none;
    box-shadow: none;
}
form{
    background-color: rgba(33, 82, 33, 0.5);
    color: white;
    font-weight: bold;
    border: 3px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
}
#registration{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
#registrationForm{
    margin-top: -50px;
}
#civility{
    margin-top: 15px;
}
#home{
    margin-top: 50px;
    font-size: 1.5rem;
    background-color: rgba(33, 82, 33, 0.5);
    color: white;
    padding-left: 10px;
}
#home a{
    text-decoration: none;
    color: white;
}
#identify{
    margin-top: 50px;
    font-size: 1.8rem;
    border-bottom: 5px solid black;
    color: white;
    padding-left: 15px;
}
#createEmail, #yourEmail, #yourPassword{
    width: 20rem;
}
#lastName, #firstName, #mailAddress, #password, #confirmPassword, #address{
    width: 40rem;
}
#createAccount, #accountExist{
    padding-top: 20px;
    font-size: 1.8rem;
    padding-left: 15px;
}
#enterMail{
    padding-left: 15px;
}
label[for=createEmail],[for=yourEmail],[for=yourPassword]{
    padding-left: 15px;
}
#identifyForm input[type=submit]{
    margin-bottom: 15px;
    margin-left: 15px;
}
input[name=send]{
    margin-bottom: 15px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}
