body{
    background: url(../img/camoVert.png);
}
#search{
    height: 40px;
    background: white;
    color: black;
    transform: skew(-40deg);
}
#searchProducts, #searchBtn{
    border: none;
    padding-top: 5px;
    transform: skew(+40deg);
}
#searchBtn{
    padding-left: 35px;
    height: 30px;
    padding-top: 1px;
    /* border: none; */
}
#banner{
    background-color: black;
    width: auto;
    height: 140px;
}
#footPage{
    background-color: black;
    width: auto;
    height: 200px;
}
#logo{
    height: 130px;
    width: auto;
    margin-top: 10px;
}
#shoppingCart{
    color: white;
    width: 50px;
}
nav{
    background-color: black;
}
#navbarLongReplicate, #navbarGunReplicate, #navbarAccessories{
    color: black;
}
.dropdown-menu{
    background-color: #2E86AB;
}
.dropdown-item {
    color: black;
}
li{
    list-style: none;
}
/*#category{
    margin-top: 36px;
}*/
.userAccountTitle{
    padding-top: 8px;
    transform: skew(+40deg);
}
.fa-shopping-basket{
    color: white;
}
h1{
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: 70px;
    padding-bottom: 70px;
}
.card{
    background-color: transparent;
}
.card-body{
    background-color: white;
    /* height: 50px; */
}
/* #firstActualProduct, #secondActualProduct{
    padding-right: 2px;
} */
/* figcaption{
    color: #2E86AB;
    font-weight: bold;
} */
#historyShop{
    background-color: rgba(33, 82, 33, 0.5);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#contact, #timetables li{
    color: white;
}
#contact{
    padding-top: 10px;
}
#facebook, #instagram{
    background-color: white;
    height: 50px;
    width: auto;
}
.btn-account{
    outline: none;
    box-shadow: none;
}
form{
    background-color: rgba(33, 82, 33, 0.5);
    color: white;
    font-weight: bold;
    border: 3px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
}